[user]
    name = Venkata Rakesh Anne
    email = AVRC26@gmail.com

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto

[color "diff"]
    meta = 81 dim   # cyan
    frag = 186 dim  # yellow
    old = 197       # red
    new = 149       # green      

[color "status"]
    added = 149     # green
    changed = 197   # red (light)
    untracked = 220 # red
    branch = 141 bold blink # purple

[color "branch"]
    current = 141 blink # purple
    local = 186         # yellow
    remote = 189        # light yellow
[merge]
    tool = vimdiff
[diff]
	tool = vimdiff
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[difftool]
	prompt = false
[alias]
	d = difftool
