[user]
    name = Venkata Rakesh Anne
    email = AVRC26@gmail.com

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto

[color "diff"]
    meta = 81 dim   # cyan
    frag = 186 dim  # yellow
    old = 197       # red
    new = 114       # green      

[color "status"]
    added = 114     # green
    changed = 197   # red (light)
    untracked = 220 # red
    branch = 81 bold blink # cyan

[color "branch"]
    current = 81 blink  # cyan
    local = 186         # yellow
    remote = 141        # purple
[merge]
    tool = vimdiff
[diff]
	tool = vimdiff
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[difftool]
	prompt = false
[alias]
	d = difftool
